<IfModule mod_rewrite.c>

    # @ редирект без index.php:
    RewriteCond %{REQUEST_URI} !^a-klining\.ru/bitrix/admin/
    RewriteCond %{REQUEST_URI} !^a-klining\.ru/bitrix/admin/
    RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
    RewriteRule ^(.*)index\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

    # @ убираем повторяющиеся /:
    RewriteCond %{REQUEST_URI} ^(.*?)\/{2,}(.*?)$
    RewriteRule . %1/%2 [L,R=301]
    RewriteCond %{THE_REQUEST} //
    RewriteRule .* /$0 [R=301,L]

    # @ код для редиректа с без "/" на со "/":
    RewriteCond %{REQUEST_URI} !\?
    RewriteCond %{REQUEST_URI} !\&
    RewriteCond %{REQUEST_URI} !\=
    RewriteCond %{REQUEST_URI} !\.
    RewriteCond %{REQUEST_URI} !\/$
    RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]

    # @ редирект на другой сайт:
    RewriteEngine On
    RewriteCond %{HTTP_HOST} velograt.ru
    RewriteCond %{REQUEST_URI} !^/bitrix/
    RewriteRule (.*) https://velograd.ru/$1 [R=301,L]

</IfModule>
