<IfModule mod_rewrite.c>
  Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} sitemap.xml
	RewriteCond %{DOCUMENT_ROOT}/sitemap.php -f
	RewriteRule ^(.*)$ /sitemap.php [L]
</IfModule>