<form action="/create" method="POST">
    <h2>Create todo</h2>

    <div class="inout-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>


