:root {
    --_color-success: #0d8052;
    --_color-error: #8b0000;
    --_color-loader: #669900;
}

/* @ Форма заполняется: */
.form--filled {

}

/* @ Форма отправляется: */
.form--sending {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form--sending *:not(.form__loader) {
    display: none;
}

.form--sending .form__loader {
    display: inline-block;
}

/* @ Форма данные с сервера получены (ERROR): */
.form--error {

}

.form--error .response-data {
    border: 1px solid var(--_color-error);
}

/* @ Форма данные с сервера получены (SUCCESS): */
.form--finish {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form--finish *:not(.response-data) {
    display: none;
}

.form--finish .response-data {
    border: 1px solid var(--_color-success);
}

/* Поля: */
.field--error {
    border-color: var(--_color-error);
}

/* Блоки: */
.response-data {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field--success {
    border-color: var(--_color-success);
}

/* Loader: */
.form__loader {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}

.form__loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: var(--_color-loader) transparent var(--_color-loader) transparent;
    animation: form__loaders 1.2s infinite;
}

@keyframes form__loaders {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
