  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Courses App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{#if isHome}}
          <li class="active"><a href="/">Главная</a></li>
        {{else}}
          <li><a href="/">Главная</a></li>
        {{/if}}

        {{#if isCurses}}
          <li class="active"><a href="/curses">Курсы</a></li>
        {{else}}
          <li><a href="/curses">Курсы</a></li>
        {{/if}}

        {{#if isCurses}}
          <li class="active"><a href="/add">Добавить курс</a></li>
        {{else}}
          <li><a href="/add">Добавить курс</a></li>
        {{/if}}

      </ul>
    </div>
  </nav>
